{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <div class="archive__item" style="display: flex; flex-flow: flex-start; margin: 10px; align-items: flex-start;">
    <div class="archive__item-teaser" style="margin: 10px; width: 25%; height: auto; margin-top: 34px;">
      {% if post.teaser_type == "image" %}
        <img src="{{ post.teaser }}" style="width: 100%; height: auto;">
      {% endif %}
      {% if post.teaser_type == "video" %}
        <video style="width: 100%;" autoplay loop muted playsinline> 
          <source src="{{ post.teaser }}" type="video/mp4">
        </video>
      {% endif %}
    </div>
    <div class="archive__item-content" style="width: 75%;">
      <h3> {{ title }} </h3>

      <p> <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      
      <p> {{ post.authors }} </p>

      {% if post.paper %}
        <a href=" {{ post.paper }} ">[Paper]</a>
      {% endif %}
      {% if post.arxiv %}
        <a href=" {{ post.arxiv }} ">[arXiv]</a>
      {% endif %}
      {% if post.projectpage %}
        <a href=" {{ post.projectpage }} ">[Project Page]</a>
      {% endif %}
    </div>
  </div>
</div>