{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
      padding: 0 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }
</style>
<div class="{{ include.type | default: "list" }}__item">
  <div class="archive__item" style="display: flex; flex-flow: flex-start; margin: 10px;">
    <div class="archive__item-teaser" style="align-self: flex-start; margin: 10px;">
      <img src="{{ post.teaser }}" style="width: 250px !important; height: auto !important;">
    </div>
    <div class="archive__item-content" style="align-self: flex-start;">
      <h3 class="archive__item-title" itemprop="headline">
        {{ title }}
      </h3>

      <p> <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      
      <p> {{ post.authors }} </p>
      <button class="collapsible">Abstract</button>
      <div class="content">
          <p>{{ post.abstract }}</p>
      </div>
      {% if post.paper %}
        <a href=" {{ post.paper }} ">[Paper]</a>
      {% endif %}
      {% if post.arxiv %}
        <a href=" {{ post.arxiv }} ">[arXiv]</a>
      {% endif %}
      {% if post.projectpage %}
        <a href=" {{ post.projectpage }} ">[Project Page]</a>
      {% endif %}
    </div>
  </div>
</div>
