
/* .publication {
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;
    border-radius: 5px;
}

.publication:hover{
    border-color: #d3d3d3;
} */


/* .bi.bi-star-fill {
    color: #ffc107;
} */